@import "tailwindcss";

body {
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	/* color: #788cfa; */
}

@theme {
	--shadow-primary: inset 0 -4px 14px 0px #ffffff60, 0 5px 10px 0px #2b7fff20;
	--shadow-card: 0 0 20px 0px #aaaaaa30;
}
